# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store

# Vim
*.swp

# Unity
/Library
/Temp

/Extras/backup

*.*~
*.db
*.sln
*.userprefs
*.csproj
*.pidb
*.unityproj
*.stackdump
/.vs/
/.vscode/
/obj
/Build*
/Logs/IncrementalCompiler
/AssetBundles
/.idea
/Logs/
/Assets/Plugins/Editor/JetBrains*
/*.DotSettings.user